.comiccard{
    position: relative;
    display: inline-block;
    height: 25%;
    aspect-ratio: 1;
}

.comiccard *, .comiccard *>*{
    height: 100%;
    width: 100%;
}
.comicTitle {
    position: absolute;
    display: inline-block;
    text-align: center;
    bottom: -70%;
   
}
.comicTitle h4{
    
    display: inline-block;
    font-size: 1.5rem;
    
}
.comiccard img{
    display: block;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }