<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Comics</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ 'Style/header.css' | relative_url }}">
    <link rel="stylesheet" href="{{ 'Style/comicview.css' | relative_url }}">
    <link rel="stylesheet" href="{{ 'Style/navtree.css' | relative_url }}">
    <link rel="stylesheet" href="{{ 'Style/comicslist.css' | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
     
</head>
